<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhost_Connection" connectionString="XpoProvider=MSSqlServer;data source=JMV\JMV;user id=sa;password=jmv;initial catalog=db_etikets;Persist Security Info=true" />
        <add name="localhost_db_etikets_Connection" connectionString="XpoProvider=MSSqlServer;data source=JMV\JMV;user id=sa;password=jmv;initial catalog=db_etikets;Persist Security Info=true" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>